<div class="horizontal field {% if field.hasErrors() %}error{% endif %}">

    <style>
        .abandonedcart-sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }
    </style>

    <h3 class="ui header">{{ lex('commerce_abandonedcart.schedule') }}</h3>
    {% if field.description %}
        <p class="help">{{ field.description }}</p>
    {% endif %}

    {% set values = field.getValueAsArray() %}
    {% if values is not empty %}
        <table class="ui table">
            <thead>
                <tr>
                    <th>{{ lex('commerce_abandonedcart.send_time') }}</th>
                    <th>{{ lex('commerce_abandonedcart.subject') }}</th>
                    <th>{{ lex('commerce_abandonedcart.tpl') }}</th>
                </tr>
            </thead>
        {% set idx = 0 %}
            <tbody>
        {% for item in values %}
            <tr>
                <td>
                    <label class="abandonedcart-sr-only" for="{{ field.key }}-{{ field.name }}-send_time-{{ idx }}">{{ lex('commerce_abandonedcart.send_time') }}</label>
                    <input id="{{ field.key }}-{{ field.name }}-send_time-{{ idx }}" name="{{ field.name }}[{{ idx }}][send_time]" type="text" value="{{ item.send_time }}">
                </td>
                <td>
                    <label class="abandonedcart-sr-only" for="{{ field.key }}-{{ field.name }}-subject-{{ idx }}">{{ lex('commerce_abandonedcart.subject') }}</label>
                    <input id="{{ field.key }}-{{ field.name }}-subject-{{ idx }}" name="{{ field.name }}[{{ idx }}][subject]" type="text" value="{{ item.subject }}">
                </td>
                <td>
                    <label class="abandonedcart-sr-only" for="{{ field.key }}-{{ field.name }}-tpl-{{ idx }}">{{ lex('commerce_abandonedcart.tpl') }}</label>
                    <input id="{{ field.key }}-{{ field.name }}-tpl-{{ idx }}" name="{{ field.name }}[{{ idx }}][tpl]" type="text" value="{{ item.tpl }}">
                </td>
            </tr>
            {% set idx = idx + 1 %}
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="ui message">
            <p>{{ lex('commerce_abandonedcart.none_scheduled') }}</p>
        </div>
    {% endif %}

    {% for i in 1..1 %}
        <h4 class="ui header">{{ lex('commerce_abandonedcart.add_scheduled_message') }}</h4>
        <div class="three fields">
            <div class="field">
                <label for="{{ field.key }}-{{ field.name }}-send_time-{{ idx + i }}">{{ lex('commerce_abandonedcart.send_time') }}</label>
                <input id="{{ field.key }}-{{ field.name }}-send_time-{{ idx + i }}" name="{{ field.name }}[{{ idx + i }}][send_time]" type="text">
                <p><small>{{ lex('commerce_abandonedcart.send_time_desc') }}</small></p>
            </div>
            <div class="field">
                <label for="{{ field.key }}-{{ field.name }}-subject-{{ idx + i }}">{{ lex('commerce_abandonedcart.subject') }}</label>
                <input id="{{ field.key }}-{{ field.name }}-subject-{{ idx + i }}" name="{{ field.name }}[{{ idx + i }}][subject]" type="text">
                <p><small>{{ lex('commerce_abandonedcart.subject_desc') }}</small></p>
            </div>
            <div class="field">
                <label for="{{ field.key }}-{{ field.name }}-tpl-{{ idx + i }}">{{ lex('commerce_abandonedcart.tpl') }}</label>
                <input id="{{ field.key }}-{{ field.name }}-tpl-{{ idx + i }}" name="{{ field.name }}[{{ idx + i }}][tpl]" type="text">
                <p><small>{{ lex('commerce_abandonedcart.tpl_desc') }}</small></p>
            </div>
        </div>
    {% endfor %}

    {% include "admin/widgets/fields/_errors.twig" %}
</div>